.modal-container.is-visible {


  display: grid;
  grid-template-columns:15% 70% 15%;
  // grid-template-rows: ;



  top:150px;
  padding-top:0px;
  margin-top:0px;
  color: #ffde00;
  position: fixed;
  box-sizing: border-box;
  margin-left:30%;
  border-radius: 15px;
  border: 2px black solid;
  background-color: #1573B1;
  color:white;
   z-index:999;


  width:65%;
  height: 70%;
  min-height: 30%;
  align-self: center;


  overflow: auto;

  text-align: center;

}


.modal-container.sticky {
  position: fixed;
  top: 5%;

}

.container {
  margin-left: 0;
  margin-top: 2%;
  display: grid;
  grid-template-columns: 1fr 3fr;



}

@media all and (max-width: 500px) {
  .container {


    display: grid;
    grid-template-columns: 1fr ;
}

.modal-container.is-visible {
margin:auto;
height:100%;
width: 100%;
top:0px;
z-index: 1;
}


.modal-container.sticky {
  position: fixed;
  top: 0;

}


}

* {
  box-sizing: border-box;
}




body {
  background-color: white;
  color: black;
  text-align: center;
  margin-top: 0px;
  font-family: 'Press Start 2P', cursive;
  margin-left: 0px;
  font-family: 'Mountains of Christmas', cursive;
}



ul {
  list-style: none;
  padding-left:1%;
}

.pokemonList {
  margin:0px;

}

.button {
  height: 50px;
  width: 100%;
  color: black;
  background-color: #1573B1 ;
  border-radius: 15px;
  font-family: 'Mountains of Christmas', cursive;

  font-weight: bold;

}



.name {
  color:blue;
}

.button:hover {
  background: blue;
  color: #ffde00;


}

.modal-container {

  display:none;
  margin-top: 0px;

}




header{
  padding-top: 1%;
  margin-top: 1%;
  border-radius: 15px;
  background-color: #1573B1;
  height:75px;
  min-height: 1%;
  color: white ;
  text-shadow: 5px 5px black;
  font-family: 'Barriecito', cursive;

}

.image {
margin:auto;

width: 50%;
height: auto;
bottom: 0;
align-self: center;


}

.modal {

  min-height:100%;



  background-color: #ff0000;

}

.modal-close {

grid-column-start: 1;
  grid-column-end: 4;
  height:30px;

}
.Title{

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;

  grid-row-end:3;
}
.Director {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;

  grid-row-end:3;


}
.year {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;

  grid-row-end:3;
}
.Description{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;

  grid-row-end:5;

}

.ListofFilms {
font-size:
25px;

}
